body {
  background-color: black;
  background-image: url(../img/bg.jpg);
  width: auto;
  height: auto;
}
.btn {
  margin: 10px auto;
  text-align: center;
  padding: 10px;
}
#wordHolder {
  color: white;
  font-size: 24px;
  text-align: center;
  margin: auto auto;
}
ul {
  list-style-type: none;
}
.guess {
  float: left;
  text-align: center;
  padding: 0 10px;
}
.footerImg {
   width: auto;
   height: 300px;
}
footer p {
  color:white;
}